[user]
	name = Rainer Sigwald
	email = raines@microsoft.com
[core]
	editor = code --wait
	pager = delta --dark --relative-paths
[interactive]
    diffFilter = delta --color-only
[alias]
	lg = log --color --graph --date=human --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
	publish = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
	newbranch = !git checkout --no-track -b $1 upstream/main  && :

{{ if eq .chezmoi.os "darwin" -}}
[credential]
	helper = osxkeychain
{{ end -}}

[merge]
	conflictstyle = diff3
[rebase]
	autosquash = true
[hub]
	protocol = https
[help]
	autocorrect = 20
