{{ if eq .chezmoi.os "windows" -}}

scoop install ^
    7zip ^
    azure-cli ^
    azurestorageexplorer ^
    bat ^
    delta ^
    fd ^
    fzf ^
    gh ^
    graphviz ^
    gsudo ^
    hyperfine ^
    ilspy ^
    jq ^
    less ^
    nuget ^
    posh-git ^
    PSFzf ^
    ripgrep ^
    starship ^
    sysinternals ^
    zoxide ^


az extension add --name azure-devops

{{ end -}}
