{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
#!/bin/sh

sudo apt install \
    atuin \
    bat \
    fd-find \
    fzf \
    jq \
    ripgrep \
    zoxide \

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install \
    atuin \
    bat \
    difftastic \
    fd \
    fzf \
    gh \
    git-delta \
    hyperfine \
    jq \
    ripgrep \
    starship \
    zoxide \

brew tap microsoft/git

brew install --cask \
    git-credential-manager-core \
    iterm2 \
    powershell \
    visual-studio-code \
    warp \

{{ end -}}